.inputLabel {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.inputText {
  margin-bottom: 0.5rem;
  color: var(--grey-900);
}

.input {
  padding: 1rem;
  background-color: var(--grey-600);
  color: var(--grey-900);
  font-size: 0.875rem;
  line-height: 1rem;
  border: 0;
  width: inherit;
}

.inputError {
  outline: 1px solid var(--accent-error);
}

.errorMessage {
  margin-top: 0.125rem;
  font-size: 0.625rem;
  line-height: 120%;
  text-transform: none;
  color: var(--accent-error);
}
