.button {
  padding: 1.25rem 2.5rem;
  border: 1px solid var(--primary);
  display: inline-block;
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white);
  cursor: pointer;
}
