.serviceSelectorWrapper {
  margin-top: 1rem;
}

.serviceSelectorTitle {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
}

.serviceSelector {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 118px);
  column-gap: 1rem;
}

.serviceSelectorOption {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.serviceSelectorInput {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.serviceSelectorImage {
  border-top-left-radius: 2rem;
  border: 3px solid transparent;
  max-width: 118px;
  max-height: 132px;
}

.serviceSelectorInput[type="radio"]:checked ~ .serviceSelectorImage {
  border-color: var(--white);
}

.serviceSelectorOptionIcon {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.serviceSelectorInput[type="radio"]:checked ~ .serviceSelectorOptionIcon {
  /* display: block; */
  opacity: 1;
}

.serviceSelectorText {
  text-transform: none;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .serviceSelector {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
    place-content: center;
  }

  .serviceSelectorImage {
    max-width: 100%;
    max-height: 100%;
  }
}
