.baseLink {
  border: 1px solid var(--primary);
  padding: 1.25rem 2.5rem;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--primary);
}
