.pageContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSection {
  width: 100%;
  max-width: var(--content-width);
}

.homeSectionTitle {
  width: 100%;
  max-width: var(--content-width);
}

.homeSectionBottomArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homeSectionBottomArea > p {
  max-width: 31.75rem;
  font-size: 0.75rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--grey-100);
}
