.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.headerContainer {
  padding: 3rem 0 1rem;
  border-bottom: 1px solid var(--grey-600);
  width: 100%;
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNavbar {
  display: flex;
  gap: 4rem;
}

.headerNavbar > a {
  text-transform: uppercase;
  color: var(--grey-100);
  transition: color 0.3s;
}

.headerNavbar > a:visited {
  color: var(--grey-100);
}

.headerNavbar > a:hover {
  color: var(--primary);
}

.headerButtonsWrapper {
  display: flex;
  align-items: center;
}

.i18nLink {
  display: inline-block;
  font-family: var(--font-russo-one);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--grey-100);
  text-transform: uppercase;
}

.i18nLink:first-child {
  margin-right: 0.5rem;
}

.i18linkActive {
  color: var(--primary);
}

.headerMenuButton {
  display: none;
}

.headerMobileNavbar {
  padding: 1.5rem 1rem 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headerMobileNavbar > nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headerMobileNavbar a {
  padding: 0.5rem 0;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 120%;
  text-align: center;
  color: var(--grey-100);
}

.headerCloseModalButton {
  align-self: flex-end;
  border: none;
  background-color: transparent;
}

.mobileNavbar {
  background-color: var(--white);
}

@media screen and (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    background-color: var(--white);
  }

  .headerContainer {
    padding: 1rem 0 0.5rem;
  }

  .headerNavbar {
    display: none;
  }

  .headerMenuButton {
    margin-left: 1.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }
}
