.shippingCalculationSection {
  margin: 6.25rem 0;
}

.shippingCalculationSection > div {
  width: 100%;
  max-width: var(--content-width);
}

.shippingCalculationSection p {
  color: var(--grey-100);
  max-width: 31.75rem;
}

.shippingCalculationSectionContentWrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.shippingCalculationSectionContentWrapper > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shippingCalculationSectionImageContainer {
  margin-top: 1.25rem;
  width: 31.75rem;
  height: 22rem;
  border-bottom-right-radius: 8rem;
  background-image: url("/images/rectangle-3.webp");
  background-size: cover;
}

.buttonWrapper {
  margin-top: 2.5rem;
}

@media screen and (max-width: 768px) {
  .shippingCalculationSection {
    margin: 2rem 0 2.5rem;
  }

  .shippingCalculationSectionContentWrapper {
    flex-direction: column;
  }

  .shippingCalculationSectionImageContainer {
    display: none;
  }

  .servicesSectionWhiteLink {
    margin-top: 1.25rem;
    width: 100%;
  }
}
